{% extends 'article/base.html.twig' %}

{% block title %}Mis a jour de l'Evenement{% endblock %}

{% block body %}
  <div class="registration-form">
    <div class="container">
    {{ include('event/_form.html.twig', {title: "Mettre a jour"})}}

    <a href="{{ path('app_event_index') }}">Retour sur la liste</a>

    {{ include('event/_delete_form.html.twig') }}
</div></div>
{% endblock %}
{% block javascripts %}
  {# <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
  <script>
    ClassicEditor .create( document.querySelector( '#event_content' ) )
    .then(editor => { console.log( editor ); } ) .catch( error => {
    console.error( error ); } );
  </script> #}
{% endblock %}
