footer {
    width: 100%;
    color: var(--main-color-white);
    height: auto;
    background: url(/_assets/images/bg/footerbg.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    font-size: 16px;
    overflow: hidden;
    z-index: 1;
}

footer .all-footer-items {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 10px 20px;
    flex-wrap: wrap;
}

.all-footer-items .top-footer {
    height: 100px;
    align-items: center;
}

.top-footer img {
    height: 80%;
}

.top-footer>ul.sociaux-items {
    align-items: center;
}

.top-footer>ul.sociaux-items li a {
    border: 1px solid transparent;
    display: block;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: hsla(0, 0%, 100%, .2);
    border-radius: 50%;
    color: #fff;
}

.middle-footer {
    padding: 80px 0;
    border-top: 1px solid hsla(0, 0%, 100%, .2);
    border-bottom: 1px solid hsla(0, 0%, 100%, .2);
}

.middle-footer .mf-items {
    width: 25%;
    padding: 0, 5px;
}

.mf-items>ul,
.bottom-footer .privacy-links ul {
    padding-left: 0;
}

.mf-items>ul li {
    padding-top: 5px;
}

.mf-items h4 {
    font-weight: bold;
    padding-bottom: 10px;
}

.top-footer>ul.sociaux-items li a:hover {
    background: var(--main-color);
}

.bottom-footer {
    padding: 5px 0;
}

.privacy-links ul li {
    color: hsla(213, 7%, 75%, .97);
}

@media screen and (max-width:775px) {
    .middle-footer{
        flex-direction: column;
    }
}