@font-face {
    font-family: 'museo500';
    src: url('/_assets/font/museo300-regular-webfont.woff2') format('woff2'), url('/_assets/font/museo300-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo700';
    src: url('/_assets/font/museo700-regular-webfont.woff2') format('woff2'), url('/_assets/font/museo700-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive, sans-serif;
    /* overflow: hidden; */
}

.container {
    width: 100%;
    max-width: 1500px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/* .relative {
    position: relative;
}

.absolute {
    position: absolute;
} */

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.wrap {
    flex-wrap: wrap;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
    color: var(--main-color);
}

.badge {
    background-color: var(--main-color);
    color: white;
    border-radius: 40px;
    padding: 2px 5px;
}

.btn {
    background-color: var(--main-color);
    border-radius: 8px;
    -webkit-box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.24);
    color: #fff !important;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.25em;
    margin-top: 0.75rem;
    padding: 0.625em 2.153em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    box-shadow: 0 2px 10px #1d1d1d;
}

.mb-10 {
    margin-bottom: 10px;
}

li {
    list-style: none;
}

#member_dateJoined_month {}


/* FOOTER */


/*
footer{
    background: var(--main-gradient);
    color: white;
    height: 300px;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 25px #1d1d1d;
}
footer .footer-content{
    gap: 10px;
}
footer .footer-content-item{
    min-width: 300px;
    padding: 5px;
}
footer h2{
    text-align: center; 
    text-transform: uppercase;
    font-size: 0.9;
    text-shadow: 1px 1px 25px #1d1d1d;
    border-bottom: 2px solid #efefef;
    padding-bottom: 5px;
    display:inline-block;
}
footer ul{
    padding: 0px;
    list-style-type: none;
}

footer ul li{
    line-height: 1.2;
    padding-bottom: 15px;
}*/