.istm-organigram {
    background: var(--main-color-org);
    width: 100%;
    height: auto;
    padding: 10px;
}

.all-organigram-items {
    flex-direction: column;
    width: 100%;
    /* gap: 5px; */
    padding: 2px;
    border-radius: 5px 5px 0 0;
    justify-content: space-between;
}

.all-organigram-items .organigram-item {
    flex: 1;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    position: relative;
    box-shadow: 0 1px 20px 0 rgba(43, 45, 118, .5);
}

.all-organigram-items .organigram-description {
    flex-direction: column;
    justify-content: space-evenly;
    flex: 2;
    height: 100%;
    padding: 5px;
    align-items: center;
    text-align: center;
}

.all-organigram-items .organigram-description .organigram {
    flex-direction: column;
    justify-content: space-between;
}

.all-organigram-items .organigram-description h1 {
    font-family: 'Museo500';
    font-size: 2rem;
    color: var(--main-color-lourd);
}

.all-organigram-items .organigram-item .authority-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: rgba(99, 148, 1, 0.2);
    color: white;
    padding: 5px;
    overflow-y: hidden;
    text-align: center;
}

.all-organigram-items .organigram-item:hover {
    cursor: pointer;
}

.all-organigram-items .organigram-item:hover .authority-description {
    transition: 0.5s;
    height: inherit;
    cursor: pointer;
    padding-top: 55%;
}

.organigram-item .authority-description h3 {
    font-size: 0.6rem;
}

.organigram-item .authority-description h4 {
    font-size: 1rem;
    padding-bottom: 15px;
}

.organigram-item .authority-description .autority-social {
    align-items: center;
    width: auto;
    height: 100%;
}

.authority-description .autority-social i {
    font-size: 1.5rem;
    padding: 5px;
}

.all-organigram-items .view-more {
    justify-content: center;
    align-items: center;
    width: 50px;
    background: var(--main-color);
    border-radius: 0 5px 5px 0;
}

.all-organigram-items .view-more i {
    color: white;
    font-size: 2rem;
}

.all-organigram-items a.view-more:hover {
    text-decoration: none;
}


/* RESPONSIVE */

@media screen and (max-width:700px) {
    .all-organigram-items {
        align-items: center;
    }
    .all-organigram-items a.view-more {
        display: none;
    }
    .all-organigram-items .authority-items {
        flex-direction: column;
        width: 400px;
        height: 1000px;
        justify-content: center;
        align-items: center;
    }
    .all-organigram-items .organigram-item:hover .authority-description {
        transition: 0.5s;
        height: 100%;
        cursor: pointer;
        padding-top: 55%;
    }
}

@media screen and (max-width: 575px) {
    .all-organigram-items .organigram-item {
        width: 100%;
    }
}

@media screen and (min-width: 470px) {
    .all-organigram-items .organigram-item {
        width: 100%;
    }
}


/* @media screen and (max-width: 700px) and (min-width: 430px) {
    .all-organigram-items .organigram-item:hover .authority-description{
        padding-top: 40%;
    }
} */