.news-board{
    padding-bottom: 20px;
}
.istm-chiffres .all-istm-chiffre{
    gap: 30px;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.istm-chiffres .istm-chiffre-item{
    text-align: center;
}
.istm-chiffres .chiffre-item-title{
    font-size: 2.3125rem;
    color: var(--main-color);
    display: block;
    text-align: center;
    font-family: 'museo500';
}
.istm-chiffres{
    margin-bottom: 30px;
}
.istm-chiffres .chiffre-item-txt{
    text-transform: uppercase;
    font-size: 1rem;

    font-weight: bold;
}
.istm-chiffres>.container .btn-donnee-chiffre{
    margin-bottom: 0;
    text-align: center;
}
.btn-donnee-chiffre a.bouton-transparent-large{
    border: 2px solid var(--main-color);
    border-radius: 8px;
    -webkit-box-shadow: 2px 3px 4px 0 rgba(0,0,0,0.24);
    -moz-box-shadow: 2px 3px 4px 0 rgba(0,0,0,0.24);
    box-shadow: 2px 3px 4px 0 rgba(0,0,0,0.24);
    color: var(--main-color);
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.25em;
    margin-top: 0.75rem;
    padding: 0.625em 2.153em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-donnee-chiffre a.bouton-transparent-large:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
}
@media screen and (max-width:700px) {
    
    .all-organigram-items{
        align-items: center;
    }
    .all-organigram-items a.view-more{
        display: none;
    }
    .all-organigram-items .authority-items{
        flex-direction: column;
        width: 400px;
    }

}