{% extends '/istm_index/base_en.html.twig' %}
{% block title %}
  A propos - PF - RDC
{% endblock %}
{% block body %}
  <div class="apropos-title">
    <div class="container">
      <h1>A propos</h1>
    </div>
  </div>
  <div class="container">
    <div class="about-history">
      <h3>Historique</h3>
      <div class="history-content">
        <span> Popoli Fratelli - R.D.Congo (PF)</span> est une organisation non gouvernementale fondée par le <span>Père Giovanni Toninelli</span>,
        un missionnaire Italien de la Congrégation des Pères Xavériens de Parma.En R.D.Congo, elle a commencé ses activités en 2008.
        L'organisation PF vient en aide aux personnes vulnérables dans la lutte contre la pauvreté et l'appui aux initiatives de soutien
        aux droits de la femme et de l'enfant, voire aussi aux personnes marginalisées dans les communautés locales.
        Elle travaille dans le cadre humanitaire aux assistances d'urgence aux personnes en difficultés (déplacés, victimes des catastrophes naturelles, aux réfugiés, aux enfants de la rue,…).
        
        Notre organisation a comme rayon la pronvince du Sud Kivu. Nos actions sont spécifiquement concetrées dans 3
        territoires ( UVIRA, Mwenga et Fizi). Suite à notre moyen très limité nous intervenons seulement dans 4 zones des santé de ces territoires:
        il s'agit de celles de Kimbi - Lulenge( Fizi), Itobwe( Mwenga), Uvira et de la plaine de la Ruzizi( Uvira), d'où nous répondons à des crises liées aux conflits armés, aux catastrophes naturelles et aux épidémies.
      </div>
    </div>
    <div class="about-history">
      <h3>Objctif</h3>
      <div class="history-content">
      Apporter une assistance d'urgence aux populations affectées par les crises dues aux conflits armés et aux catastrophes naturelles;
      Prévenir les crises soudaines en assurant la promotion de la culture de paix et la coexistence pacifique entre les communautés locales;
      Soutenir les initiatives visant à renforcer les actions de résilience communautaire et à préserver la protection de l'environnement dans les zones affectées par les crises humanitaires.
      </div>
    </div>
    <div class="avenir-atous flex gap-5">
      <div class="aa-item">
        <img alt="img" src="/_assets/images/logo/avenir.svg" width="50" height="50" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
        <h2>Perspectives d'avenir</h2>
        <p>Promouvoir des interventions d'urgence pour soulager les misères de la population victime des crises 
        humanitaires et relever le niveau de vie en renforçant les activités de la résilience communautaire et 
        de consolidation des capacités locales, ainsi que la réduction des vulnérabilités, en renforçant aussi 
        la résilience et le relèvement précoce.</p>
      </div>
      <div class="aa-item">
        <img alt="img" src="/_assets/images/logo/atout.svg" width="50" height="50" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
        <h2>Nos atouts</h2>
        <p>PF RDC est reconnu officiellement au registre des organisations nationales de la RD. Congo. Nous sommes 
        le point focale du cluster Abris dans la région du Sud Est incluant Uvira et FIZI. Eligible aux fonds humanitaires RDC,
        PF RDC a une bonne expertise dans la veille humanitaire, les évaluations et suivis multisectorielles et la mise en œuvre 
        des projets humanitaires. En plus, respectueux de principes humanitaires et d'autres principes de protection, PF RDC 
        a mis en place une politique de tolérance zéro contre les cas d'exploitation et d'abus sexuels y compris les cas de fraude.</p>
      </div>
    </div>
  </div>
  <div class="founder">
    <div class="container flex gap-5">
      <div class="founder-img flex-1">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="/_assets/images/profiles/giovani.gif" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Père GIOVANNI TONINELLI</h4>
            <p class="card-text">Fondateur</p>
        </div>
      </div>
      </div>
      <div class="founder-desc flex-2">
        <i class="fa-solid fa-book-bible"></i>
        <h3>En mémoire de notre Fondateur</h3>
        <p>Le 1er juillet 2019, vers 18 heures, le P. Giovanni Maria Toninelli est décédé à Vicence. Il aurait eu 87 ans, étant né à 
        Barbariga (Brescia - Italie) le 20.07.1932.En 1944, Giovanni entre dans la maison xavérienne de Grumone où il fréquente le 
        collège.Il a été ordonné prêtre à Parme le 25.10.1959.En 1963, le P. Toninelli est destiné au Congo. Après une année passée à 
        étudier la langue à Uvira, il est retourné pour une courte période en Italie (1964-1965) où il a travaillé comme enseignant à 
        l'école apostolique de Cagliari.De retour au Congo, le P. Giovanni travaille comme clerc à la maison épiscopale 
        d'Uvira (1965-1966) et comme trésorier à Mwenga (1966-1967). En 2002, le P. Giovanni part vivre en Sardaigne où il poursuit 
        son activité en faveur des marginalisés et des migrants. En 2017, il a accepté d'intégrer la maison à Vicenza. Ici, suite à 
        l'aggravation de sa situation physique, au soir du 1er juillet 2019 il décède.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
{% block events_news %}

{% endblock %}
